@font-face {
	font-family: 'PT Sans';
	src: url('../Fonts/PTS55F_W.TTF');
}

body {
	font-size: .85em;
	font-family: "PT Sans";
	color: #232323;
	background-color: #fff;
	margin: 0;
	min-width: 1220px;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}

header, footer, nav, section {
	display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

.rootArrow {
	float: left;
	pointer-events: none;
}

.plus {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #00325d;
	margin-top: 13px;
	pointer-events: none;
}


.divBody {
	background: #9dd2ec;
}

.innerUL-background {
	background: #9dd2ec;
}

.divBodyMutted {
	background: none;
}

.minus {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #95b8ff;
	margin-top: 13px;
	pointer-events: none;
}

ul {
	list-style-type: none;
}

	ul li {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		cursor: default;
	}

.hasChilds {
}

	.hasChilds:hover {
	}


#centralPart {
	overflow: auto;
	/*background: white;*/
	position: absolute;
	left: 33%;
	right: 0;
	top: 80px;
	bottom: 0;
}

.centralPartWithProgressBar {
	background: rgba(211, 211, 211, 0.5);
	background-image: url("../Images/progress.gif");
	background-repeat: no-repeat;
	background-position: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#divTree {
	width: 33%;
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	background: #c6ecff;
	color: #00325d;
	font-size: 20px;
	overflow: auto;
}

.innerUL {
	min-width: 250px;
	padding-left: 25px;
	margin: 0;
}

	.innerUL li {
		/*line-height: 55px;
		height: 55px;*/
		height: 26px;
		padding: 14.5px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
	}

		.innerUL li:hover {
			background: #e6f4fa;
			cursor: pointer;
		}

.selectedTreeNode {
	background: white;
}

.innerUL li span {
	max-width: 92%;
	padding: 0 15px;
	vertical-align: middle;
	width: inherit;
	display: block;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	white-space: nowrap;
	max-width: 395px;
}

.innerUL li:hover span.tooltip {
	display: initial;
}

.innerUL li span.folder:hover, .innerUL li span.leaf:hover {
	text-decoration: underline;
}


.innerUL li span.tooltip {
	pointer-events: none;
	display: none;
	position: absolute;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	color: rgb(113, 157, 171);
	background: rgb(255, 255, 255);
	border: 4px solid rgb(255, 255, 255);
	border-radius: 5px;
	text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
	left: 0;
	margin-top: -45px;
}

	.innerUL li span.tooltip:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid;
		border-color: #FFFFFF transparent transparent transparent;
		top: 44px;
		left: 50px;
	}

.folder-border {
}

.folder-border-mutted {
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.folder-parent {
}

	.folder-parent span {
		display: inherit;
	}

.treeProgress {
	width: 16px;
	height: 16px;
	-moz-min-width: 16px;
	-ms-min-width: 16px;
	-o-min-width: 16px;
	-webkit-min-width: 16px;
	min-width: 16px;
	min-height: 16px;
	margin: 7px 0 0 0;
	position: absolute;
	left: 5px;
}










/*Menu region start*/

.mainMenuLayout {
	height: 80px;
	background-image: url("../Images/headpx.png");
	background-repeat: repeat-x;
	line-height: 80px;
	position: relative;
}

.userLabel {
	font-size: 16px;
	color: #fffefe;	
	text-decoration: none;
	vertical-align: text-bottom;
	position: absolute;
	left: 245px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 260px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.userLabel:hover {
	cursor: pointer;
	text-decoration: underline;
}

.logo {
	position: absolute;
	left: 0;
}

.mainMenu {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 33%;
}

	.mainMenu li {
		width: 100px;
		text-align: center;
		float: left;
		font-size: 18px;
		color: white;
		text-decoration: none;
	}

		.mainMenu li:hover {
			cursor: pointer;
		}

.selectedPage {
	background: rgba(255, 255, 255, 0.2);
}

.birthDayComboBox {
	height: 50px;
	float: right;
	margin-top: 15px;
	margin-right: 60px;
	width: 230px;
	background: lightskyblue;
	color: white;
	line-height: 50px;
	border: 1px solid #004161;
	background: #006aa9; /* Old browsers */
	background: -moz-linear-gradient(top, #006aa9 0%, #004784 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006aa9), color-stop(100%,#004784)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #006aa9 0%,#004784 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #006aa9 0%,#004784 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #006aa9 0%,#004784 100%); /* IE10+ */
	background: linear-gradient(to bottom, #006aa9 0%,#004784 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006aa9', endColorstr='#004784',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
	-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
}

	.birthDayComboBox p {
		margin: 0;
		margin-left: 20px;
		float: left;
		font-size: 18px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		cursor: default;
	}

	.birthDayComboBox:hover {
		border: 1px solid #004161;
		background: -moz-linear-gradient(top, #127fbf 0%, #0f5c9e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#127fbf), color-stop(100%,#0f5c9e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #127fbf 0%,#0f5c9e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #127fbf 0%,#0f5c9e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #127fbf 0%,#0f5c9e 100%); /* IE10+ */
		background: linear-gradient(to bottom, #127fbf 0%,#0f5c9e 100%); /* W3C */
	}

.activeBirthDayComboBox {
	background: #dadada;
	border: 1px solid #9b9b9b;
}

	.activeBirthDayComboBox:hover {
		background: #dadada;
		border: 1px solid #9b9b9b;
	}

	.activeBirthDayComboBox p {
		color: #082236;
	}

.hasBirthdayTriangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 16px 0 0;
	border-color: #f7f7f7 transparent transparent transparent;
	position: absolute;
}

.birthDayComboBox .plus {
	float: right;
	margin: 25px 20px 25px 0;
	border-top-color: #1179c2;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 6px;
}

.birthDayComboBox .activePlus {
	border-top-color: #a1a5a8;
}

.birthDayLayout {
	line-height: normal;
	display: none;
	width: 390px;
	min-height: 283px;
	max-height: 566px;
	background: #ededed;
	border: 1px solid #dadada;
	position: absolute;
	right: 0;
	margin-right: 60px;
	margin-top: 67px;
	z-index: 100;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
	-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .75);
}

.tabHeadersPanel {
	line-height: normal;
	width: inherit;
}

.tabHeader {
	margin: 0;
	font-size: 18px;
	text-decoration: underline;
	color: #4988b9;
	margin-left: 34px;
	margin-top: 17px;
	line-height: initial;
	display: inline-block;
}

	.tabHeader:hover {
		cursor: pointer;
	}

.selectedTabHeader {
	color: #191919;
	text-decoration: none;
}

	.selectedTabHeader:hover {
		cursor: default;
	}

.tabItemContainer {
	line-height: normal;
	width: inherit;
	overflow-y: auto;
	margin-top: 34px;
	margin-bottom: 24px;
	min-height: 180px;
	max-height: 463px;
}

.tabItemContent {
	display: none;
	line-height: normal;
}

.selectedTabItemContent {
	display: block;
}

.birthDayPeopleList {
	line-height: normal;
	margin: 0;
	padding: 0 34px 0 50px;
}

.birthDayPeopleItem {
	line-height: normal;
	list-style-type: disc;
	margin-bottom: 18px;
}

.birthDayName {
	line-height: normal;
	margin: 0;
	display: inline-block;
	font-size: 16px;
	color: #4988b9;
}

.birthDayDate {
	line-height: normal;
	margin: 0;
	display: inline-block;
	font-size: 16px;
	color: #4d4d4d;
}

.birthDayDepartment {
	line-height: normal;
	font-size: 11px;
	color: #9a9a9a;
	margin: 0;
}

.birthDayJob {
	line-height: normal;
	font-size: 11px;
	color: #9a9a9a;
	margin: 0;
}

#birthDayProgress {
	position: absolute;
	top: 48%;
	left: 48%;
}

/*Menu region end*/




/*search*/


.searchLayout {
	background: white;
}

.departmentHeader {
	font-size: 26px;
	/*white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;*/
	margin: 30px 30px 0 30px;
	font-weight: normal;
}

.shortSearch {
	width: 820px;
	height: 36px;
	margin: 35px 0 0 30px;
	font-size: 18px;
	position: relative;
}

.departmentSearchText {
	width: inherit;
	padding-left: 15px;
	height: 32px;
	margin: 0;
	border: 1px solid #dadada;
	background: #eeeeee;
	-webkit-box-shadow: inset 0px 1px 5px 0px rgba(11,11,11,0.15);
	-moz-box-shadow: inset 0px 1px 5px 0px rgba(11,11,11,0.15);
	box-shadow: inset 0px 1px 5px 0px rgba(11,11,11,0.15);
	font-size: 18px;
	color: #000;
	position: absolute;
}

	.departmentSearchText:hover {
		border-color: #ababab;
	}


	.departmentSearchText:focus {
		border-color: #ababab;
		outline: none;
	}


	.departmentSearchText::-webkit-input-placeholder { /* WebKit browsers */
		color: #c8c8c8;
	}

	.departmentSearchText:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #c8c8c8;
	}

	.departmentSearchText::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #c8c8c8;
	}

	.departmentSearchText:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #c8c8c8;
	}

.departmentSearchButton {
	width: 100px;
	height: 36px;
	float: right;
	border: 1px solid #d2ac67;
	color: white;
	position: absolute;
	outline: none;
	right: -17px;
	font-size: 18px;
	background: #d2ac67; /* Old browsers */
	background: -moz-linear-gradient(top, #d2ac67 0%, #c18d40 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ac67), color-stop(100%,#c18d40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d2ac67 0%,#c18d40 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d2ac67 0%,#c18d40 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d2ac67 0%,#c18d40 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d2ac67 0%,#c18d40 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ac67', endColorstr='#c18d40',GradientType=0 ); /* IE6-9 */
}

	.departmentSearchButton:hover {
		background: -moz-linear-gradient(top, #e8cb97 0%, #cfa261 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8cb97), color-stop(100%,#cfa261)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e8cb97 0%,#cfa261 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e8cb97 0%,#cfa261 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e8cb97 0%,#cfa261 100%); /* IE10+ */
		background: linear-gradient(to bottom, #e8cb97 0%,#cfa261 100%); /* W3C */
	}

	.departmentSearchButton:active {
		background: -moz-linear-gradient(top, #cfa65f 0%, #c39044 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfa65f), color-stop(100%,#c39044)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #cfa65f 0%,#c39044 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #cfa65f 0%,#c39044 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #cfa65f 0%,#c39044 100%); /* IE10+ */
		background: linear-gradient(to bottom, #cfa65f 0%,#c39044 100%); /* W3C */
		-webkit-box-shadow: inset 0 1px 2px rgba(36, 42, 43, 0.25);
		-ms-box-shadow: inset 0 1px 2px rgba(36, 42, 43, 0.25);
		box-shadow: inset 0 1px 2px rgba(36, 42, 43, 0.25);
	}

.editListButton {
	position: static;
	padding: 0 30px;
	float: none;
	width: auto;
	margin-top: 40px;
	margin-left: 30px;
}


.advancedSearch {
	font-size: 14px;
	color: #4988b9;
	margin: 15px 0 0 30px;
	display: block;
	width: 140px;
}

	.advancedSearch span {
		font-family: Arial;
		font-size: 16px;
	}

	.advancedSearch:hover {
		cursor: pointer;
		text-decoration: underline;
	}

.additionalSearchPanel {
	width: 776px;
	padding: 30px 44px 18px 16px;
	background: #fafafa;
	margin: 0 0 0 30px;
	border: 1px solid #dadada;
	border-top-width: 0;
	-webkit-box-shadow: inset 1px 0px 5px 0px rgba(11, 11, 11, 0.15);
	-moz-box-shadow: inset 1px 0px 5px 0px rgba(11, 11, 11, 0.15);
	box-shadow: inset 1px 0px 5px 0px rgba(11, 11, 11, 0.15);
	display: none;
}

.additionalSearchRow {
	display: inline-block;
	width: inherit;
}

.additionalSearchRowFirst {
}

	.additionalSearchRowFirst .fieldLabel {
		margin-top: 0px;
	}

.fieldLabel {
	margin: 6px 0 3px 0;
	width: 360px;
	float: left;
	font-size: 12px;
	color: #777;
}

.field {
	width: 360px;
	float: left;
	height: 27px;
	background: #fff;
	border: 1px solid #dadada;
	color: #313131;
	font-size: 14px;
	outline: none;
}

input[type=text].field {
	height: 23px;
}

input.field:hover, select.field:hover {
	border-color: #9d9d9d;
}

input.field:active, select.field:active {
	border-color: #9d9d9d;
}

.dataPicker {
	width: 100px;
	display: inline-block;
	outline: none;
	height: 23px;
	border: 1px solid #dadada;
}

	.dataPicker:hover {
		border-color: #9d9d9d;
	}

	.dataPicker:active {
		border-color: #9d9d9d;
	}

div.rightItem p {
	display: inline-block;
	margin: 0 -4px;
	width: 18px;
	text-align: center;
}

.dataPickerSeparator {
}

.rightItem {
	margin-left: 36px;
	float: left;
	width: 360px;
}

.noFloatItem {
	float: none;
}

.centralResultPanel {
	margin: 0 30px;
}

.personUL {
	padding: 0;
}

	.personUL li {
		min-height: 130px;
		position: relative;
		margin: 15px 0;
	}

.personIMG {
	width: 120px;
	float: left;
	/*vertical-align: middle;*/
}

.innerPersonLayout {
	/*position: absolute;
	left: 140px;
	right: 0;
	top: 0;
	bottom: 0;*/
	margin-left: 140px;
}

.personName {
	font-size: 26px;
	color: #4988b9;
	-moz-min-width: 400px;
	-ms-min-width: 400px;
	-o-min-width: 400px;
	-webkit-min-width: 400px;
	min-width: 400px;
	margin: 0;
	margin-top: -4px;
	display: inline-block;
	line-height: 25px;
}

.personName:hover {
	cursor: pointer;
	text-decoration: underline;
}

.personName:visited {
	color: #4988b9;
}

.personDepartment {
	margin: 12px 0 0 0;
	font-size: 16px;
	color: rgb(73, 136, 185);
	-moz-min-width: 360px;
	-ms-min-width: 360px;
	-o-min-width: 360px;
	-webkit-min-width: 360px;
	min-width: 360px;
}

.personDepartment:hover {
	text-decoration: underline;
	cursor: pointer;
}

.personJob {
	font-size: 16px;
	margin: 0;
	-moz-min-width: 360px;
	-ms-min-width: 360px;
	-o-min-width: 360px;
	-webkit-min-width: 360px;
	min-width: 360px;
}

.personCityPhone {
	margin: 0;
	font-size: 16px;
	display: inline-block;
}

.personMobilePhone {
	margin: 0 0 0 17px;
	font-size: 16px;
	display: inline-block;
}

.personMail {
	margin: 0 0 0 17px;
	font-size: 16px;
	color: rgb(73, 136, 185);
	display: inline-block;
}

.lyncStatusDiv {
	width: 10px;
	height: 100%;
	background: #5dd255;
	position: absolute;
}

.personIMGLayout {
	float: left;
	height: 130px;
	overflow: hidden;	
	line-height: 130px;
	text-align: center;
}

.phonesLine {
	max-width: 450px;
	margin-top: 12px;
}

	.phonesLine:last-of-type {
		padding-bottom: 14px;
	}

.searchProgress {
	display: none;
}


/* end search*/



/*pagination begin*/
.pagesContainer {
	margin-left: 30px;
	margin-bottom: 15px;
}

.pageNmbr {
	width: 30px;
	height: 30px;
	background: #EEEEEE;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

	.pageNmbr:hover {
		cursor: pointer;
	}

.selectedPageNmbr {
	background: #C6ECFF;
}

.paginationArrow {
	font-family: Arial;
	font-size: 16px;
	color: #4988b9;
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0;
}

.paginationNavigationLink {
	font-size: 14px;
	margin: 0 3px;
	color: #4988b9;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	vertical-align: middle;
}

	.paginationNavigationLink:hover {
		text-decoration: underline;
		cursor: pointer;
	}

.forwardLink {
	margin-left: 20px;
}

#pages {
	margin-bottom: 30px;
}

.editListItem {
	min-height: 200px;
	-webkit-box-shadow: inset #eeeeee 0 -1px 0 0;
	-ms-box-shadow: inset #eeeeee 0 -1px 0 0;
	box-shadow: inset #eeeeee 0 -1px 0 0;
}

	.editListItem:hover {
		background: #f4f4f4;
	}

		.editListItem:hover > .editPositionPanel div .unhoveredLink {
			color: #4988b9;
		}

		.editListItem:hover > .editPositionPanel div .moveToOneSideLink {
			color: #aaaaaa;
		}

.editPositionPanel {
	height: 100%;
	line-height: 100%;
	width: 140px;
	position: absolute;
	right: 0;
	top: 0;
}

	.editPositionPanel div {
		padding: 43% 0;
		
	}

		.editPositionPanel div:first-child {
			padding: 0;
			position: absolute;
			top: 10px;
		}

		.editPositionPanel div:last-child {
			padding: 0;
			position: absolute;
			bottom: 10px;
			left: 4%;
		}

.unhoveredLink {
	color: transparent;
}

.moveToOneSideLink {
	color: transparent;
}
/*pagination end*/


/*help page start*/

.helpInnerHeader {
	font-size: 18px;
	margin: 15px 0 0 30px;
}

.firstHelpInnerHeader {
	margin-top: 20px;
}

.helpLink {
	text-decoration: none;
	margin-left: 30px;
	margin-top: 0;
	font-size: 13px;
}

.helpText {
	margin: 0 0 0 30px;
	font-weight: bolder;
	font-size: 13px;
}

/*help page end*/



/*person card start*/

.personCardLayout {
	margin: 20px 30px 30px 30px;
	-moz-min-width: 500px;
	-ms-min-width: 500px;
	-o-min-width: 500px;
	-webkit-min-width: 500px;
	min-width: 500px;
}

.aroundPhotoPersonContainer {
	margin-left: 140px;
}

.personCardName {
	font-size: 26px;
	margin: 0;
	margin-top: -4px;
	display: inline-block;
	color: #4d4d4d;
}

.personCardBirthDay {
	margin: 0;
	margin-top: 5px;
	font-size: 16px;
	color: #4d4d4d;
}

.personCardEmail {
	margin: 0;
	margin-top: 4px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;	
	color: #4988b9;
}

.personCardEmail:hover {
	text-decoration: underline;
}

.personCardAddToFavoriteLink {
	color: #4988b9;
	font-size: 12px;
	margin: 0;
	width: 140px;
	margin-top: 5px;
	display: block;
}
.personCardAddToFavoriteLink img {
	float: left;
	margin-top: 1px;
}

.personCardAddToFavoriteLink p {
	margin: 0;
	padding-left: 15px;
}

.personCardAddToFavoriteLink:hover {
	text-decoration: underline;
	cursor: pointer;	
}

.personCardAddToFavoriteLinkInline {
	display: inline-block;
	width: auto;
}
.personCardAddToFavoriteLinkInline img {	
	margin-top: -15px;
}

.personCardJobTitle {	
	font-weight: bold;
	margin: 0;
	width: 140px;
	text-align: right;
	float: left;
}

.personCardEdit {
	color: #4988b9;
	font-size: 12px;
	width: 140px;
	display: inline;
	margin-left: 10px;
}

.personCardEdit:hover {
	text-decoration: underline;
	cursor: pointer;
}

.personCardJob {	
	margin: 0 0 0 150px;
}

.personcardJobEdit {
	margin: 0 0 0 10px;
	float: left;
}

.personCardJobContainer {
	clear: both;
	margin-top: 15px;
	font-size: 16px;
}

.personCardDepartmentMember {
	margin-left: 10px;
	margin-top: 15px;
}

.personCardJobMarginTop {
	margin-top: 10px;
}

.personCardPlaceContainer {
	margin-top: 60px;
	font-size: 16px;
}

.personCardPhonesHeader {
		font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
}



.personCardEditPlace {
	margin-top: 0;
}


.personCardLoadImage {
	display: block;
	width: initial;
	margin: 0;
	line-height: 20px;
	text-align: left;
}



.personCardDialog {
	width: 300px;
	background: #ededed;
	border: 1px solid #dadada;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
	-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
	margin-left: 150px;
	z-index: 90;
	padding: 0px 10px 15px 10px;
	position: absolute;
	display: none;
}

.personCardChangePlaceDialog {
	
}

.personCardChangePlaceDialogSimpleLabel {
	margin: 0;
	color: #9a9a9a;
	font-size: 12px;
	margin-top: 5px;
}

.personCardChangePlaceDialogSelect {
	width: 300px;
}

.personCardChangePlaceDialogText {	
	margin: 2px 0 0 0;
	border: 1px solid #dadada;
	padding: 0 3px;
	color: #000;
}

.personCardChangePlaceDialogText:hover {
	border-color: #ababab;
}

	.personCardChangePlaceDialogText:focus {
		border-color: #ababab;
		outline: none;
	}

	.personCardChangePlaceDialogText::-webkit-input-placeholder { /* WebKit browsers */
		color: #c8c8c8;
	}

	.personCardChangePlaceDialogText:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #c8c8c8;
	}

	.personCardChangePlaceDialogText::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #c8c8c8;
	}

	.personCardChangePlaceDialogText:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #c8c8c8;
	}


.personCardStreet {
	width: 292px;
}

.personCardChangePlaceDialogHalfLabel {
	width: 49%;
	display: inline-block
}

.personCardChangePlaceDialogHalfText {
	width: 140px;	
}

.personCardOfficeNumber {
	
}

.personCardSavePlaceDialogButton {
	position: inherit;
}

.personCardChangePlaceDialogButtonsContainer {
	text-align: right;
	height: 36px;
	margin-top: 10px;
}

.personCardCancelEditPlaceButton {
	vertical-align: middle;
	line-height: 36px;
	margin-right: 10px;
}

.personCardChangePhoneDialog {
	
}

/*person card end*/
