@font-face {
	font-family: 'PT Sans';
	src: url('../Fonts/PTS55F_W.TTF');
}

body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header, footer, nav, section {
	display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

.rootArrow {
	float: left;	
	pointer-events: none;
}

.plus {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #00325d;
	margin-top: 13px;
	pointer-events: none;
}


.divBody {
	background: #9dd2ec;	
}

.innerUL-background {
	background: #9dd2ec;	
}

.divBodyMutted {
	background: none;
}

.minus {
		width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #95b8ff;
	margin-top: 13px;
	pointer-events: none;
}

ul {
	list-style-type: none;
}

	ul li {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		cursor: default;
	}

.hasChilds {
}

	.hasChilds:hover {
	}


#divTree {
	width: 630px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #c6ecff;
	font-family: "PT Sans";
	color: #00325d;
	font-size: 20px;
	overflow: auto;
}

.innerUL {
	padding-left: 25px;
	margin: 0;
}

	.innerUL li {
		/*line-height: 55px;
		height: 55px;*/
		padding: 14.5px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
	}

		.innerUL li:hover {
			background: #e6f4fa;
			cursor: pointer;
		}

		.innerUL li span {
			padding: 0 15px;
			vertical-align: middle;
			width: inherit;
			display: block;
			-moz-text-overflow: ellipsis;
			text-overflow: ellipsis;
			overflow: hidden;
			float: left;
			white-space: nowrap;
		}

		.innerUL li:hover span.tooltip {
			display: initial;
		}

		.innerUL li span.folder:hover, .innerUL li span.leaf:hover {
			text-decoration: underline;
		}

.rootItem {
	padding: 14.5px 0;
	/*height: 55px;
	line-height: 55px;*/
}

	.rootItem:hover, .leaf:hover {
		cursor: pointer;
	}

.innerUL li span.tooltip {
	pointer-events: none;
	display: none;
	position: absolute;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	color: rgb(113, 157, 171);
	background: rgb(255, 255, 255);
	border: 4px solid rgb(255, 255, 255);
	border-radius: 5px;
	text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
	left: 0;
	margin-top: -45px;
}

	.innerUL li span.tooltip:after {
		content: "dsfsdf";
		position: absolute;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid;
		border-color: #FFFFFF transparent transparent transparent;
		top: 44px;
		left: 50px;
	}

.folder-border {
}

.folder-border-mutted {
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.folder-parent {
}

	.folder-parent span {
		display: inherit;
	}
