@model KSS.Models.EmployeeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee</h2>
Имя @Model.Employee.Name
Должность  @Model.PositionState.Title
Дивизион  @Model.DivisionState.Division