
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "";
}

@using KSS.Models
@model SearchViewModel


<div class="searchLayout">
    <h3 class="departmentHeader">@Model.GetName()</h3>
    
    <div class="shortSearch">
        <input type="text" class="departmentSearchText" placeholder="поиск по ФИО" maxlength="100"/>
        <input type="button" class="departmentSearchButton" value="найти" />        
    </div>
    
    <a class="advancedSearch">Расширенный поиск <span>&darr;</span></a>
    
    <ul class="personUL">
        <li>
            <div class="lyncStatusDiv"></div>
            <div class="personIMGLayout">
                <img class="personIMG" src="http://cp14.nevsepic.com.ua/184/18370/1385021122-haunted__by_senju_hime-d3dj1ah.jpg" />    
            </div>
            
            <div class="innerPersonLayout">
                <h5 class="personName">Титов Герман Степанович</h5>
                <p class="personDepartment">Исполнительный аппарат ОАО "Россети" Руководство Ситуационно-аналитического центра</p>
                <p class="personJob">Директор центра</p>
                <div class="phonesLine">
                    <p class="personCityPhone">33-24;</p><p class="personMobilePhone">(495)995-53-33</p><p class="personMail">titov.german@rossety.com</p>    
                </div>
                <div class="phonesLine">
                    <p class="personCityPhone">33-24;</p><p class="personMobilePhone">(495)995-53-33</p><p class="personMail">titov.german@rossety.com</p>
                </div>
            </div>
        </li>
        <li>
            <div class="lyncStatusDiv"></div>
            <div class="personIMGLayout">
                <img class="personIMG" src="http://cp14.nevsepic.com.ua/184/18370/1385021122-haunted__by_senju_hime-d3dj1ah.jpg" />
            </div>
            <div class="innerPersonLayout">
                <h5 class="personName">Титов Герман Степанович большое имя еще вот тут</h5>
                <p class="personDepartment">Исполнительный аппарат ОАО "Россети" Руководство Ситуационно-аналитического центра</p>
                <p class="personJob">Директор центра, герцог Ижорский, генерал-фельдмаршал, президент Военной коллегии</p>
                <div class="phonesLine">
                    <p class="personCityPhone">33-24;</p><p class="personMobilePhone">(495)995-53-33</p><p class="personMail">titov.german@rossety.com</p>
                </div>
                <div class="phonesLine">
                    <p class="personCityPhone">33-24;</p><p class="personMobilePhone">(495)995-53-33</p><p class="personMail">titov.german@rossety.com</p>
                </div>
            </div>
        </li>

    </ul>
</div>