<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

@using KSS.Models
@using KSS.Server.Entities
@{
    Layout = "";
}


<div class="searchLayout">
    
    <div id="searchResult" class="centralResultPanel">
        
    </div>
    
</div>


<script type="text/javascript">

    $(document).ready(function() {

    });
</script>