@{
    Layout = "";
}

@using KSS.Models
@model KSS.Models.HomeViewModel
<div>
    <ul>
        @foreach (EmployeeModel employee in Model.GetFavorites())
        {
            <li>
                <img class="favorite" data-url="@Url.Action("RemoveFavorite", "Home", new {id = employee.Employee.Id})" title="Убрать" />
                <span>@employee.Employee.Name</span>
                <span>@employee.DepartmentState.Department</span>
                <span>@employee.DivisionState.Division</span>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $('.favorite').on('click', function (e) {
                var currentListItem = $(e.target);
                var url = currentListItem.data('url');

                if (url != null) {
                    $.get(url);
                }
            }
        );
    });
</script>