@{
    Layout = "";
}

<object id="theobj" classid="clsid:0389FBBA-6E36-4F5D-9B9D-C702E3807B7F" style="width:0;height:0;"></object>
<script>

//    $.(function(){
//
//        $('a#call_to_number').click(theobj.StartVoiceCall(3324));
//
//    });

</script>



<style>
    .helpText:hover {
        cursor: pointer;
    }
</style>

<h2 class="departmentHeader">Поддержка</h2>

<p class="helpInnerHeader firstHelpInnerHeader">Телефон</p>
<p class="helpText" onclick="javascript:theobj.StartVoiceCall(3324);">33-24; (Для филиала "Кальэнерго" 5-77)</p>

<p class="helpInnerHeader">e-mail</p>
<a class="paginationNavigationLink helpLink" href="mailto:sd@mrsk-yuga.ru">sd@mrsk-yuga.ru</a>

<p class="helpInnerHeader">заявка в ServiceDesk</p>
<a class="paginationNavigationLink helpLink" href="http://sd.mrsk-yuga.local:8080">http://sd.mrsk-yuga.local:8080</a>


