@{
    Layout = "";
}



<h2 class="departmentHeader">Поддержка</h2>

<p class="helpInnerHeader firstHelpInnerHeader">Телефон</p>
<p class="helpText">33-24; (Для филиала "Кальэнерго" 5-77)</p>

<p class="helpInnerHeader">e-mail</p>
<a class="paginationNavigationLink helpLink" href="mailto:sd@mrsk-yuga.ru">sd@mrsk-yuga.ru</a>

<p class="helpInnerHeader">заявка в ServiceDesk</p>
<a class="paginationNavigationLink helpLink" href="http://sd.mrsk-yuga.local:8080">http://sd.mrsk-yuga.local:8080</a>
