@model KSS.Models.HomeViewModel

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>

<div id="divTree">
    <a href='@Url.Action("Index", "Employee", new {id = "B682C266-37A5-42E5-A2C8-09845970534B"})'>Пользователь...</a>
    @*    <ul class="innerUL">*@
    @*        <li>*@
    @Html.Partial("Tree", Model.TreeViewModel)
    @*        </li>*@
    @*    </ul>*@
</div>
